*.apk
*.ap_
*.aab
*.app
*.ipa
*.so
/android/app/build/
/ios/build/
/macos/build/
/linux/build/
/windows/build/
/web/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
/doc/api/ 
.idea/
.vscode/
.DS_Store
*.iml
local.properties  
pubspec.lock      
xcuserdata/
DerivedData/
.symlinks/
/ios/Pods/
/macos/Pods/
lib/firebase_options.dart
/ios/Runner/GoogleService-Info.plist
/macos/Runner/GoogleService-Info.plist
/web/firebase-config.js
*.mobileprovision
*.cer
/web/main.dart.js
/web/index.html.dill
/web/flutter_service_worker.js